table {
  width: 100%;
}

td, th {
  padding: 0 5px !important;

  &:first-of-type {
    padding-left: 15px !important;
  }

  &:last-of-type {
    padding-right: 15px !important;
    text-align: center;
  }
}
