.header {
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color:darkslateblue;
  color:cornsilk;

  &__title {
    margin: 0;
    text-align: center;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}
