.not-found {
  position: relative;
  display: flex;
  width: 100vw;
  height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;

  &__message {
    font-size: 2rem;
  }
}

.home-link {
  margin: 10px;
}
