.user-list {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.table-container {
  overflow: auto;
}

.user-photo {
  display: block;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 20%;
}
