<div class="user-container">
  <a mat-raised-button color="primary" class="home-link" routerLink="/home" routerLinkActive="active">На главную</a>
  <div class="user" *ngIf="(todos.length && user.id); else loader">
    <app-user-card class="user__card mat-elevation-z8" [user]="user"></app-user-card>
    <app-todo-list class="user__todos" [todos]="todos"></app-todo-list>
  </div>
  <ng-template #loader>
    <div class="loader">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>



