/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-row {
  transition: 0.3s all;
  &:hover {
    box-shadow: inset 0px 10px 10px #eaeaea, inset 0px -10px 10px #eaeaea;
    background-color: #f9f9f9;
  }
}
